.jumbotron{
    background-color: #FF66CC;
}
.menuicon {
    display: inline-block;
    cursor: pointer;
  }
#menuicon1, #menuicon2, #menuicon3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.change #menuicon1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change #menuicon2 {opacity: 0;}
  
  .change #menuicon3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  /* .items{
      display: none;
  } */